// ***DEFAULT***

// Body
$body-bg: #171c24 !important;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// ----------------------------------------------------------------------

// ***ELEMENT UI STANDARD COLOURS***

// El-UI Main Theme Colour:
$el-brand: #409EFF;

// El-UI Secondaries:
$el-success: #67C23A;
$el-warning: #E6A23C;
$el-danger: #F56C6C;
$el-info: #909399;

// El-UI Neutrals:
$el-neutral-1: #303133;
$el-neutral-2: #606266;
$el-neutral-3: #909399;
$el-neutral-4: #C0C4CC;
$el-neutral-5: #DCDFE6;
$el-neutral-6: #E4E7ED;
$el-neutral-7: #EBEEF5;
$el-neutral-8: #F2F6FC;
