// Colours
.elMain { color: $el-brand; };
.elSuccess { color: $el-success; };
.elWarning { color: $el-warning; };
.elDanger { color: $el-danger; };
.elInfo { color: $el-info; };
.elNeutralOne { color: $el-neutral-1; };
.elNeutralTwo { color: $el-neutral-2; };
.elNeutralThree { color: $el-neutral-3; };
.elNeutralFour { color: $el-neutral-4; };
.elNeutralFive { color: $el-neutral-5; };
.elNeutralSix { color: $el-neutral-6; };
.elNeutralSeven { color: $el-neutral-7; };
.elNeutralEight { color: $el-neutral-8; };

// Backgrounds
.elMainBg { background-color: $el-brand; };
.elSuccessBg { background-color: $el-success; };
.elWarningBg { background-color: $el-warning; };
.elDangerBg { background-color: $el-danger; };
.elInfoBg { background-color: $el-info; };
.elNeutralOneBg { background-color: $el-neutral-1; };
.elNeutralTwoBg { background-color: $el-neutral-2; };
.elNeutralThreeBg { background-color: $el-neutral-3; };
.elNeutralFourBg { background-color: $el-neutral-4; };
.elNeutralFiveBg { background-color: $el-neutral-5; };
.elNeutralSixBg { background-color: $el-neutral-6; };
.elNeutralSevenBg { background-color: $el-neutral-7; };
.elNeutralEightBg { background-color: $el-neutral-8; };