// Colours
.elMain { color: $el-brand !important; };
.elSuccess { color: $el-success !important; };
.elWarning { color: $el-warning !important; };
.elDanger { color: $el-danger; };
.elInfo { color: $el-info !important; };
.elNeutralOne { color: $el-neutral-1 !important; };
.elNeutralTwo { color: $el-neutral-2 !important; };
.elNeutralThree { color: $el-neutral-3 !important; };
.elNeutralFour { color: $el-neutral-4 !important; };
.elNeutralFive { color: $el-neutral-5 !important; };
.elNeutralSix { color: $el-neutral-6 !important; };
.elNeutralSeven { color: $el-neutral-7 !important; };
.elNeutralEight { color: $el-neutral-8 !important; };

// Backgrounds
.elMainBg { background: $el-brand !important; };
.elSuccessBg { background: $el-success !important; };
.elWarningBg { background: $el-warning !important; };
.elDangerBg { background: $el-danger !important; };
.elInfoBg { background: $el-info !important; };
.elNeutralOneBg { background: $el-neutral-1 !important; };
.elNeutralTwoBg { background: $el-neutral-2 !important; };
.elNeutralThreeBg { background: $el-neutral-3 !important; };
.elNeutralFourBg { background: $el-neutral-4 !important; };
.elNeutralFiveBg { background: $el-neutral-5 !important; };
.elNeutralSixBg { background: $el-neutral-6 !important; };
.elNeutralSevenBg { background: $el-neutral-7 !important; };
.elNeutralEightBg { background: $el-neutral-8 !important; };